.quiz-page-container {
    display: grid;
    place-content: center;
    height: 100%;
    width: calc(100% - 260px);
    position: absolute;
    right: 0;
    background: var(--page-container-bg);
}

.t-p-window {
    background: #fff;
    border-radius: 10px;
    box-shadow: 6px 5px 0px 0px rgb(152 152 152 / 10%);
    width: 100%;
    min-width: 600px;
    min-height: 500px;
    padding: 20px;
    position: relative;
}

.t-p-window-bottom-btn {
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    padding: 8px 30px;
    /* box-shadow: 2px 2px 0px 0px rgb(152 152 152 / 50%); */
    background: #fff;
    transition: all .4s;
}

.quiz-main-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 570px;
}

.t-p-window-bottom-btn:hover {
    background: black;
    color: #fff;
}

.bottom-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

.answers-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answer-option {
    cursor: pointer;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    transition: background .2s;
}

.answer-option:hover {
    background: aliceblue;
}

.a-o-checked {
    background: #add9ff;
}

.quiz-results-modal {
    background: #fff;
    border: 1px solid;
    border-radius: 10px;
    position: absolute;
    padding: 10px;
    width: 70%;
    height: 70%;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-bg-robot {
    height: 200px;
    position: absolute;
    top: 50%;
    left: 75%;
}

.quiz-info-wrapper {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.t-p-window-head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.a-o-display-correct-ans {
    background: green;
    color: #fff;
}

.question-span {
    text-align: center;
    font-size: 22px;
    word-wrap: break-word;
    font-weight: 500;
}

.imgg-robot-test-results {
    height: 360px;
}

@media (max-width: 635px) {
    .t-p-window {
        min-width: 500px;
    }

    .quiz-info-wrapper {
        top: 70px;
    }

    .imgg-robot-test-results {
        height: 290px;
    }

    .question-span {
        font-size: 1rem;
    }

    .quiz-main-content {
        width: calc(100vw - 80px);
    }

    .t-p-window-head {
        flex-direction: column;
        gap: 5px;
    }
}

@media (max-width: 540px) {
    .t-p-window {
        min-width: 400px;
    }
}

@media (max-width: 450px) {
    .t-p-window {
        min-width: 350px;
        width: 350px;
    }

    /* .t-p-window-bottom-btn:hover {
        background: transparent;
    } */

    /* .answer-option:hover {
        background: #add9ff;
    } */

    .quiz-results-modal {
        width: 90%;
        height: 70%;
        top: 55%;
    }
}

@media (max-width: 1200px) {
    .quiz-page-container {
        width: auto !important;
        position: static;
    }

    .auth-bg-robot {
        display: none;
    }
}