.auth-page-container {
    padding: 30px 40px;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    background: var(--page-container-bg);
}

.a-p-window {
    background: #a2c0d0;
    border-radius: 10px;
    box-shadow: 2px 3px 0px 0px rgb(152 152 152 / 50%);
    width: 100%;
    height: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    z-index: 2;
}

.auth-window-input {
    border-radius: 11px;
    border: none;
    background: #e3eaf0;
    width: 300px;
    height: 35px;
    padding: 7px;
}

.auth-window-label {
    color: #dadee1;
}

.auth-photo-container {
    position: absolute;
    height: 575px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    left: 56%;
    top: 18%;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(117deg, #8579b1, #61cfce);
}

.logo-info-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.auth-details-wrapper {
    position: relative;
    height: 100%;
}

.auth-btn {
    cursor: pointer;
    border-radius: 10px;
    padding: 7px;
    color: #fff;
    background: linear-gradient(146deg, #8e7db5, #5bd5cd);
    min-width: 100px;
    text-align: center;
    font-weight: 600;
}

@media (max-width: 950px) {
    .auth-photo-container {
        display: none;
    }
}