.home-page-container {
    padding: 30px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: calc(100% - 260px);
    position: absolute;
    right: 0;
    background: var(--page-container-bg);
}

.welcome-container {
    height: 200px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
    background: linear-gradient(179deg, #97a4eb, #5067e9);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.h-p-modules-wrapper {
    width: 76%;
    background: rgba(255, 255, 255, 0.2);
    padding: 50px 0 10px 0;
    border-radius: 15px;
}

.h-p-modules {
    width: 100%;
    min-height: 500px;
    height: auto;
    /* overflow-y: auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column; */
    gap: 40px 25px;
}

.home-right-sidebar {
    /* border: 1px solid; */
    height: 700px;
    width: 345px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.module-card {
    display: flex;
    flex-direction: column;
    box-shadow: 4px 3px 0px 0px rgba(220, 220, 220, 0.2);
    background: aliceblue;
    border-radius: 15px;
    height: 220px;
    min-width: 230px;
    width: 30%;
    align-items: center;
    justify-content: space-around;
}

.module-card-description {
    font-size: 19px;
}

.achievements-widget {
    background: #fff;
    border-radius: 15px;
    height: 150px;
}

.calendar-wrapper {
    border-radius: 15px;
}

.react-calendar__tile--active {
    height: 35px;
    background: #8977c3 !important;
    border-radius: 50px;
}

@media (max-width: 1000px) {
    .module-card>div {
        display: none;
    }
}

@media (max-width: 700px) {
    .h-p-modules {
        gap: 10px;
        width: 100%;
    }

    .h-p-modules-wrapper {
        width: 90%;
        padding: 0;
        background: none;
    }

    .welcome-container {
        display: none;
    }

    .module-card-description {
        font-size: 14px;
    }

    .home-page-container {
        padding: 30px 0;
    }

    .module-card {
        width: 100% !important;
    }
}

@media (max-width: 1200px) {
    .home-page-container {
        width: auto !important;
    }

    .module-card {
        width: auto;
    }
}