.module-page-container {
    width: calc(100% - 260px);
    position: absolute;
    right: 0;
    padding: 20px;
    background: var(--page-container-bg);
}

.module-window {
    margin-top: 20px;
    padding: 20px 30px;
    /* border: 1px solid; */
    border-radius: 10px;
    background: var(--module-window-bg);
    color: var(--module-window-text-color);
    display: flex;
}

.module-content-wrapper {
    width: 85%;
    padding: 10px;
}

.module-nav-wrapper {
    width: 15%;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    overflow: auto;
    padding: 10px 0;
}

.module-nav-block {
    padding: 8px;
    border-radius: 10px;
    color: black;
    display: flex;
    gap: 10px;
    text-align: start;
}

.module-nav-block-active {
    background: rgb(219 219 219 / 43%);
}

.open-test-button {
    padding: 7px 15px;
    border: 2px solid;
    border-radius: 10px;
    font-weight: 600;
    transition: all .3s;
}

.open-test-button:hover {
    background: #0a58ca;
    color: #fff;
}

.module-content {
    margin: 30px 0;
}

.module-content>p {
    text-indent: 0px;
}

.module-content>p>img {
    max-width: 60%;
}

.module-content>img {
    max-width: 60%;
}

@media (max-width: 1200px) {
    .module-page-container {
        width: auto !important;
    }

    .module-content-wrapper {
        width: 100%;
        padding: 0;
    }

    .module-nav-wrapper {
        display: none;
    }
}

@media (max-width: 620px) {
    .module-content>img {
        width: 100%;
    }
}