.module-page-container {
    width: calc(100% - 260px);
    position: absolute;
    right: 0;
    padding: 20px;
    background: var(--page-container-bg);
}

.module-window {
    margin-top: 20px;
    padding: 20px 30px;
    /* border: 1px solid; */
    border-radius: 10px;
    background: var(--module-window-bg);
    color: var(--module-window-text-color);
}

.open-test-button {
    padding: 7px 15px;
    border: 2px solid;
    border-radius: 10px;
    font-weight: 600;
    transition: all .3s;
}

.open-test-button:hover {
    background: #0a58ca;
    color: #fff;
}

.module-content {
    margin: 30px 0;
}

.module-content>p {
    text-indent: 0px;
}

.module-content>p>img {
    max-width: 60%;
}

.module-content>img {
    max-width: 60%;
}

@media (max-width: 1200px) {
    .module-page-container {
        width: auto !important;
    }
}

@media (max-width: 620px) {
    .module-content>img {
        width: 100%;
    }
}