.user-page-container {
    padding: 30px 40px;
    width: calc(100% - 260px);
    position: absolute;
    right: 0;
    background: var(--page-container-bg);
}

.user-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.photo-wrapper {
    height: 200px;
    width: 200px;
    background: linear-gradient(185deg, #e4c4df, #c59ee9);
    border-radius: 12px;
    padding: 7px;
}

.st-icon-wrapper {
    display: grid;
    place-content: center;
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 2px 0px 0px rgba(220, 220, 220, 0.5);
}

.user-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.achievements-container {
    padding-top: 120px;
    /* border: 1px solid; */
    /* height: 600px; */
}

.achievements-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.achievement-list-item {
    border: 1px solid saddlebrown;
    width: 300px;
    border-radius: 15px;
    height: 100px;
    display: flex;
    align-items: center;
}

.achievement-list-item>img {
    height: 80px;
    width: 80px;
}

@media (max-width: 1200px) {
    .user-page-container {
        width: auto !important;
    }
}

@media (max-width: 510px) {
    .achievements-container {
        padding-top: 20px;
    }

    .photo-wrapper {
        border-radius: 60%;
    }
}