.header {
    height: 50px;
    width: 100%;
    /* border: 1px solid; */
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.search-input {
    border: none;
    border-radius: 7px;
    height: 35px;
    padding: 6px 10px;
    outline: none;
}

.header-left-wrapper {
    color: #4c5c73;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-avatar {
    height: 30px;
    width: 30px;
    background: #f6cbc3;
    border-radius: 50px;
}