.sidebar {
    min-height: 100%;
    width: 260px;
    z-index: 2;
    padding: 45px 0 60px 0;
    box-shadow: 5px 0 10px rgba(220, 220, 220, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: aliceblue;
    position: fixed;
    top: 0;
    left: -260px;
    height: 100%;
    transition: left 0.4s ease;
    z-index: 5;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.nav-list>li>a {
    color: black;
    font-size: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-list>li>a>span {
    font-weight: 500;
}

.sidebar-active {
    left: 0;
}

@media (min-width: 1200px) {
    .sidebar {
        left: 0;
    }
}