* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", serif;
  font-weight: 500;
  font-style: normal;
  /* --page-container-bg: linear-gradient(to right, #afced2, #bbb4dd);
  --sidebar-bg: #d1e5e4; */
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
}

:root[data-theme="light"] {
  --page-container-bg: linear-gradient(to right, #afced2, #bbb4dd);
  --sidebar-bg: #caeaef;
  --sidebar-wrapper-bg: #afcdd2;
  --module-window-bg: #fff;
  --module-window-text-color: black;
}

:root[data-theme="dark"] {
  --page-container-bg: linear-gradient(to right, #0f5963, #161037);
  --sidebar-bg: #0e5762;
  --sidebar-wrapper-bg: #0e5762;
  --module-window-bg: #505050;
  --module-window-text-color: #d4d4d4;
}

main {
  width: 100%;
  min-height: 100vh;
  background: var(--page-container-bg);
}

a {
  text-decoration: none !important;
}

ul,
ol {
  list-style: none;
  padding-left: 0 !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  z-index: 3;
  background: rgba(87, 84, 84, 0.5);
  pointer-events: auto;
}

.react-calendar {
  border-radius: 15px;
  padding: 1px;
  border: none !important;
}