.admin-page-container {
    padding: 30px 150px;
    width: calc(100% - 260px);
    height: auto;
    position: absolute;
    right: 0;
    background: var(--page-container-bg);
}

.a-p-quill-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}

/* .a-p-quill-lesson-content {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
} */

.admin-test-mod-wrapper {
    padding: 30px 60px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-answer-modal {
    position: absolute;
    height: 300px;
    top: 20px;
    left: 20px;
    width: 90%;
    background: linear-gradient(to right, #8bc4cb, #9587d6);
    border-radius: 10px;
    padding: 10px 30px;
}

.t-inp {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
}

.modify-select {
    background: none;
    height: 100%;
    width: 50%;
    border-radius: 15px;
    display: grid;
    place-content: center;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.modify-select-active {
    color: #fff;
    background: rgb(169, 148, 148);
}

@media (max-width: 1200px) {
    .admin-page-container {
        width: auto !important;
    }
}